<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "tk.cizaquita.malparqueando"
    version   = "1.0.0">

<name>MalparqueandoApp</name>

<description>
Aplicación para informar acerca de los autos mal aparcados en la carretera.
</description>

<author href="https://cizaquita.tk" email="cristian.izaquita@gmail.com">
Cristian Izaquita
</author>

</widget>
